{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'vk/css/register.css' %}">
    <title>Register</title>
</head>
<body>
    <div class="main">
        <div class="register-block">
            <div class="register-title">
                Register to VK
            </div>
            <form class="register-form" action="" method="post">
                {% csrf_token %}
                {{register_form}}
                <p>
                    <label for="id_password2" required>password again:</label>
                    <input type="password" name="password2" id="id_password2" required>
                </p>
                <p class="button-block">
                    <button type="submit">Register</button>
                </p>
            </form>
        </div>
    </div>
</body>
</html>